# Python cached files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment files
.env
.venv
env/
venv/
ENV/

# Output directories & user uploads
uploads/*
!uploads/.gitkeep
static/uploads/*
!static/uploads/.gitkeep
results/*
!results/.gitkeep

# Heavy weights or large models (if any)
*.pth
*.pt
*.onnx
!models/deepfake_model.onnx
*.bin
*.h5


# Datasets
dataset/
data/

# IDE / OS junk
.DS_Store
Thumbs.db
.vscode/
.idea/
